@font-face {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  src: url("../fonts/impact.ttf");
}

@font-face {
  font-family: TahomaBold, sans-serif;
  src: url("../fonts/tahoma-bold.ttf");
}

@font-face {
  font-family: Tahoma, sans-serif;
  src: url("../fonts/tahoma-regular.ttf");
}

@font-face {
  font-family: Gloss-And-Bloom;
  src: url("../fonts/Gloss_And_Bloom.ttf");
}

@font-face {
  font-family: Smacklaidethdown2019;
  src: url("../fonts/smacklaidethdown2019.ttf");
}
